<div class="main">
  <div class="nav-button-h">
    <%= link_to 'Our Brand', brand_path %>
  </div>
  <div class="nav-button-h active">
    <%= link_to 'Our Beer', beers_path %>
  </div>
  <div class="nav-button-h">Beer Facts</div>
  <div class="nav-button-h">Events</div>
  <div class="nav-button-h">Contact</div>
</div>

<div class="brand-body">
  <table class="beer-table">

    <% @beers.each do |beer| %>
      <tr>
        <td class="beer-image"><%= image_tag(beer.img_path) %></td>
        <td class="beer-info">
          <h3 class="beer-name"><%= beer.name %></h3>
          <% if beer.flagship? %>
            <p class="flagship">
              Our Flagship
            </p>
          <% end %>
          <p class="beer-desc"><%= beer.desc %></p>
        </td>
      </tr>
    <% end %>

  </table>
</div>

<footer>
  <div class="social-media">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-youtube"></i>
  </div>

  <div class="site-map">
    <p>Home</p>
    <p>Our Brand</p>
    <p>Our Beer</p>
    <p>Beer Facts</p>
    <p>Events</p>
    <p>Contact</p>
    <p>Events</p>
    <p>Shop</p>
    <p>Privacy Policy</p>
    <p>Returns and Refunds Policy</p>
    <p>Terms and Conditions</p>
    <p>Shipping and Delivery Policy</p>
  </div>

  <div class="copyright">
    <p>
      &copy; 2018 Bayside Brewery - All rights reserved.
    </p>
  </div>
</footer>