<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @beer.desc %>
</p>

<p>
  <strong>Flagship:</strong>
  <%= @beer.flagship %>
</p>

<p>
  <strong>Img path:</strong>
  <%= @beer.img_path %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
