<!DOCTYPE html>
<html>
  <head>
    <title>Bayside Brewery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= link_to(image_tag('bayside-brewery-logo.png'), root_path) %>
    </header>

    <%= yield %>

  </body>
</html>
